<!DOCTYPE html>

<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css" >
    <title>{{title}}</title>
</head>
<body>

    <div class="main-content">

        {{> header}}

        <h3>Contatos:</h3>
        <table>
            <thead>
                <tr>
                    <td>Nome</td>
                    <td>Tel</td>
                </tr>
            </thead>
            <tbody>
                {{#each about}}
                    <tr>
                        <td>{{nome}}</td>
                        <td>{{tel}}</td>
                    </tr>
                {{/each}}
            </tbody>        
        </table>
        
    </div>

    {{> footer}}
</body>
</html>