<header>
    <h1>{{title}}</h1>
    
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="cotacoes">Cotacoes</a></li>
        <li><a href="help">Hep</a></li>        
    </ul>
</header>